$navbar: (
  light-background: #ffffff,
  dark-background: #1a1a1a,
);

$mat-menu: (
  light-background: #ffffff,
  dark-background: #353535,
  dark-background-hover: rgba(255, 255, 255, 0.15),
);

$login: (
  light-background: #ffffff,
  dark-background: #1a1a1a,
);

$input: (
  light-background: #ffffff,
  dark-background: rgba(255, 255, 255, 0.3),
);

$checkbox: (
  light-border: rgba(0, 0, 0, 0.3),
  dark-border: rgba(255, 255, 255, 0.3),
);

$card: (
  light-background: rgb(255, 255, 255),
  dark-background: rgb(46, 46, 46),
);
