<div class="presentation">
  <div class="presentation__progress-line"></div>
  <div class="presentation__stage">
    <mat-icon [inline]="true" class="presentation__stage__icon--big"
      >shopping_cart</mat-icon
    >
    <p>Alege produsul</p>
  </div>
  <div class="presentation__stage">
    <mat-icon [inline]="true" class="presentation__stage__icon--big"
      >euro</mat-icon
    >
    <p>Liciteaza</p>
  </div>
  <div class="presentation__stage">
    <mat-icon [inline]="true" class="presentation__stage__icon--big"
      >credit_card</mat-icon
    >
    <p>Plateste</p>
  </div>
  <div class="presentation__stage">
    <mat-icon [inline]="true" class="presentation__stage__icon--big"
      >local_shipping</mat-icon
    >
    <p>Produsul vine la tine</p>
  </div>
</div>
